<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets>
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Cursor</Title>
      <Shortcut>Cursor</Shortcut>
      <Description>Read-only cursor.</Description>
      <Author>Devart</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>variables</ID>
          <Default>@variable</Default>
        </Literal>
        <Literal>
          <ID>CursorName</ID>
          <Default>cur</Default>
        </Literal>
        <Literal>
          <ID>CursorQuery</ID>
          <Default>select * from</Default>
        </Literal>
      </Declarations>
      <Code Language="SQL Server" Kind="SQL Server"><![CDATA[declare $variables$;

declare $CursorName$ cursor fast_forward
    for $CursorName$;
open $CursorName$

fetch next from $CursorName$
    into $variables$;

while (@@fetch_status = 0)
begin

    $CARET$

    fetch next from $CursorName$
     into $variables$;
end;

close $CursorName$;
deallocate $CursorName$';]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>