<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets>
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>BackupDB</Title>
      <Shortcut>BackupDB</Shortcut>
      <Description>Backup Database</Description>
      <Author>Devart</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations />
      <Code Language="SQL Server" Kind="SQL Server"><![CDATA[use master
go

BACKUP DATABASE [$DB$] TO  DISK = N'\\ruspet01-sql-11\BA_Migration\$DB$.bak' WITH NOFORMAT, NOINIT,  NAME = N'$DB$-Full Database Backup', SKIP, NOREWIND, NOUNLOAD,  STATS = 10
GO
]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>